control
rules
*.log
*.substvars
*.debhelper
debhelper-build-stamp
files
netxms-agent/
netxms-agent-asterisk/
netxms-agent-asterisk-dbg/
netxms-agent-dbg/
netxms-agent-java/
netxms-agent-mqtt/
netxms-agent-mqtt-dbg/
netxms-agent-mysql/
netxms-agent-vmgr/
netxms-agent-xen/
netxms-agent-xen-dbg/
netxms-base/
netxms-base-dbg/
netxms-client/
netxms-client-dbg/
netxms-dbdrv-mariadb/
netxms-dbdrv-mariadb-dbg/
netxms-dbdrv-mysql/
netxms-dbdrv-mysql-dbg/
netxms-dbdrv-odbc/
netxms-dbdrv-odbc-dbg/
netxms-dbdrv-oracle/
netxms-dbdrv-oracle-dbg/
netxms-dbdrv-pgsql/
netxms-dbdrv-pgsql-dbg/
netxms-dbdrv-sqlite3/
netxms-dbdrv-sqlite3-dbg/
netxms-server/
netxms-server-dbg/
tmp/
