[Unit]
Description=NetXMS core server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/netxmsd -S
LimitNOFILE=65535
LimitCORE=infinity
Restart=always
RestartSec=30
TimeoutSec=900
UMask=0077

[Install]
WantedBy=multi-user.target
Alias=netxmsd.service
