[Unit]
Description=NetXMS reporting server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nxreportd
Restart=on-failure
UMask=0077

[Install]
WantedBy=multi-user.target
Alias=nxreportd.service
