[Unit]
Description=NetXMS Agent

[Service]
Type=forking
ExecStart=/usr/bin/nxagentd -d
PIDFile=/var/run/nxagentd.pid
LimitCORE=infinity
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=netxms-agent.service
