[Unit]
Description=NetXMS Server

[Service]
Type=forking
ExecStart=/usr/bin/netxmsd -d
PIDFile=/var/run/netxmsd.pid
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
