[Unit]
Description=NetXMS core server

[Service]
Type=simple
ExecStart=/usr/bin/netxmsd -S
PIDFile=/var/run/netxmsd.pid
LimitNOFILE=32768
LimitCORE=infinity
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=netxmsd.service
